/*font-family: 'Open Sans', sans-serif;*/

/* Common Style Begin */

	body {
		background: #ececec;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #000;
		min-width: 320px;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	h3 {
		font-size: 24px;
		font-weight: 700;
	}

	.btn-red {
		background: #d51e08;
		color: #fff;
		transition: background .3s;
	}

	.btn-red:hover {
		background: #ec4835;
	}

/* Common Style End */

/* Header Style Begin */

	.navbar-default {
		border-width: 0;
		border-color: white;
	}

	.menu-top .navbar {
		margin-bottom: 0;
		background: #fff;
		padding: 20px 0;
		text-transform: uppercase;
	}

	.menu-top .navbar-default .navbar-nav > li > a {
		color: #000;
		padding-top: 14px;
		padding-bottom: 14px;
		transition: background .3s;
	}

	.menu-top .navbar-default .navbar-nav > li > a:hover {
		text-decoration: underline;
	}

	.menu-top .navbar-default .navbar-nav > li > a.btn-red {
		color: #fff;
		background: #d51e08;
		border-radius: 5px;
		padding: 12px;
		margin-left: 10px
	}

	.menu-top .navbar-default .navbar-nav > li > a.btn-red:hover {
		background: #ec4835;
		text-decoration: none;
	}

	.menu-top .navbar-default .navbar-nav > li > a .glyphicon {
		font-size: 16px;
		margin-right: 8px;
	}

	.flag {
		margin-right: 4px;
		position: relative;
		top: -1px;
	}

	.menu-top .container,
	.menu-top .navbar-collapse {
		padding-left: 0;
	}

	.menu-carousel .item {
		min-height: 600px;
	}

	.menu-carousel .bgslide {
		position: absolute;
		top: 0;
		height: 0;
		width: 100%;
		height: 100%;
		background-size: cover !important;
		background-position: center center !important;
	}

	.menu-carousel .carousel-caption {
		left: 0;
		top: 170px;
	}

	.menu-carousel .carousel-caption h1 {
		font-size: 48px;
		font-weight: bold;
	}

	.menu-carousel .carousel-caption h3 {
		font-size: 30px;
		margin-bottom: 40px;
	}

	.menu-carousel .carousel-caption .btn-red {
		padding: 20px 30px;
		border-radius: 7px;
		color: #fff;
		text-decoration: none;
		font-size: 24px;
	}

	.menu-carousel .container {
		position: relative;
		text-align: center;
	}

	.carousel .carousel-indicators-wrapper {
		position: absolute;
		width: 100%;
		bottom: -25px;
		text-align: center;
	}

	.carousel .carousel-indicators {
		margin-left: 0;
		position: relative;
		left: 0;
		bottom: 0;
		background: #fff;
		display: inline-block;
		width: auto;
		border: 1px solid #cfcfcf;
		border-radius: 5px;
		padding: 5px 10px;
	}

	.carousel-indicators-wrapper .carousel-indicators li {
		background: #d2d2d2;
		width: 10px;
		height: 10px;
		margin: 0 7px;
	}

	.carousel-indicators-wrapper .carousel-indicators li.active {
		background: #a3a3a3;
	}

	.main-menu {
		position: absolute;
		top: 30px;
		z-index: 10;
		width: 100%;
	}

	.main-menu .navbar-inverse {
		background: transparent;
		border: none;
	}

	.main-menu .main-menu-bg {
		background: #000;
		border-radius: 5px;
	}

	.main-menu .navbar-inverse .navbar-nav > li > a {
		color: #fff;
		font-size: 16px;
		transition: background .3s;
	}

	.main-menu .navbar-inverse .navbar-nav > li > a:hover {
		text-decoration: underline;
	}

	.menu-carousel .main-menu .navbar-brand {
		padding: 0;
		margin-left: 30px;
	}

	.main-menu .navbar-brand > img {
		display: block;
		float: left;
	}

	.main-menu .navbar-brand span {
		display: inline-block;
		padding: 15px;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
	}

	.main-menu-bg .search {
		position: absolute;
		right: 30px;
		font-size: 22px;
		display: block;
		color: #fff;
		cursor: pointer;
		z-index: 30;
		line-height: 50px;
		display: none;
	}

/* Header Style End */

.main-slogan {
	color: #000;
	text-align: center;
	padding: 45px 0;
	border-top: 1px solid #cfcfcf;
	border-bottom: 3px solid #dadada;
}

.main-slogan h1 {
	font-size: 30px;
	margin: 0;
}

/* Sidebar Begin */

	.sidebar {
		padding: 50px 0 70px;
		border-right: 3px solid #dadada;
	}

	.widget {
		border-bottom: 3px solid #dadada;
		margin-bottom: 30px;
		padding-bottom: 15px;
	}

	.widget h3,
	.content h3 {
		margin-top: 0;
		margin-bottom: 15px;
	}

	.widget ul {
		list-style: none;
		padding-left: 20px;
	}

	.widget ul li a {
		color: #000;
		font-size: 16px;
		line-height: 28px;
		display: block;
	}

	.widget ul li.more a{
		color: #358acd;
	}

	.content {
		padding: 50px 0 70px;
	}

/* Sidebar End */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.menu-top .navbar-nav,
	.main-menu .navbar-nav {
		float: none !important
	}

	.menu-top .navbar-default .navbar-nav > li > a.btn-red { margin-left: 10px }

	.main-menu .navbar-form {
		margin-left: 126px;
	}

	.main-menu-bg .search {
		display: block;
	}

	.main-menu .navbar-form {
	    position: absolute;
	    right: 0;
	    background: rgba(0, 0, 0, .5);
	    padding: 15px;
	    margin-right: 15px;
	    margin-top: 0;
		display: none;
	}

}

@media only screen and (max-width : 1180px) {

	.menu-carousel .carousel-caption {
		left: 20%;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.menu-carousel .carousel-caption {
		left: 20%;
	}

	.menu-carousel .carousel-caption h1 {
		font-size: 38px;
		font-weight: bold;
	}

	.menu-carousel .carousel-caption h3 {
		font-size: 20px;
		margin-bottom: 40px;
	}

	.menu-carousel .carousel-caption .btn-red {
		padding: 15px 20px;
		border-radius: 7px;
		color: #fff;
		text-decoration: none;
		font-size: 16px;
	}

	.sidebar {
		padding-top: 0;
		padding-bottom: 0;
		border-right: none;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.menu-top .navbar-default .navbar-nav > li > a:hover {
		background: #ededed;
		text-decoration: none;
	}

	.menu-top .navbar { padding: 0 }

	.menu-top .container,
	.menu-top .navbar-collapse {
		padding-left: 15px;
	}

	.main-menu .container {
		padding-left: 0;
		padding-right: 0;
	}

	.main-menu .navbar-inverse .navbar-nav > li > a:hover {
		background: #202020;
		text-decoration: none;
	}

	.main-menu .navbar-form {
		margin: 8px 0;
		display: block !important;
		position: relative;
		right: 0;
		background: transparent;
	}

	.main-menu .navbar-brand img {
		max-height: 50px;
	}

	.main-menu .navbar-toggle.collapsed + .navbar-brand img {
		max-height: none;
		position: relative;
		z-index: 20;
	}

	.main-menu-bg .search {
		display: none;
	}

}

@media only screen and (max-width : 540px) {

	.sidebar .col-xs-6 {
		text-align: center;
		width: 100%;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.main-menu .navbar-toggle.collapsed + .navbar-brand img {
		max-height: 80px;
		position: relative;
		z-index: 20;
	}

}

@media only screen and (min-width : 1200px) {

	.main-menu .navbar-form {
		display: block !important;
	}

}
