/*font-family: 'Open Sans', sans-serif;*/

/* Common Style Begin */

	body {
		background: #ececec;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		color: #000;
		min-width: 320px;
	}

	img {
		max-width: 100%;
		height: auto;
	}

	h3 {
		font-size: 24px;
		font-weight: 700;
	}

	.btn-red {
		background: #d51e08;
		color: #fff;
		transition: background .3s;
	}

	.btn-red:hover {
		background: #ec4835;
	}

/* Common Style End */

/* Header Style Begin */

	.menu-top .navbar {
		margin-bottom: 0;
		background: #fff;
		padding: 20px 0;
		text-transform: uppercase;
	}

	.menu-top .navbar-default .navbar-nav > li > a {
		color: #000;
		padding-top: 14px;
		padding-bottom: 14px;
		transition: background .3s;
	}

	.menu-top .navbar-default .navbar-nav > li > a:hover {
		text-decoration: underline;
	}

	.menu-top .navbar-default .navbar-nav > li > a.btn-red {
		color: #fff;
		background: #d51e08;
		border-radius: 5px;
		padding: 12px;
		margin-left: 10px
	}

	.menu-top .navbar-default .navbar-nav > li > a.btn-red:hover {
		background: #ec4835;
		text-decoration: none;
	}

	.menu-top .navbar-default .navbar-nav > li > a .glyphicon {
		font-size: 16px;
		margin-right: 8px;
	}

	.flag {
		margin-right: 4px;
		position: relative;
		top: -1px;
	}

	.menu-top .container,
	.menu-top .navbar-collapse {
		padding-left: 0;
	}

	.menu-carousel .item {
		min-height: 600px;
	}

	.menu-carousel .bgslide {
		position: absolute;
		top: 0;
		height: 0;
		width: 100%;
		height: 100%;
		background-size: cover !important;
		background-position: center center !important;
	}

	.menu-carousel .carousel-caption {
		left: 0;
		top: 170px;
	}

	.menu-carousel .carousel-caption h1 {
		font-size: 48px;
		font-weight: bold;
	}

	.menu-carousel .carousel-caption h3 {
		font-size: 30px;
		margin-bottom: 40px;
	}

	.menu-carousel .carousel-caption .btn-red {
		padding: 20px 30px;
		border-radius: 7px;
		color: #fff;
		text-decoration: none;
		font-size: 24px;
	}

	.menu-carousel .container {
		position: relative;
		text-align: center;
	}

	.carousel .carousel-indicators-wrapper {
		position: absolute;
		width: 100%;
		bottom: -25px;
		text-align: center;
	}

	.carousel .carousel-indicators {
		margin-left: 0;
		position: relative;
		left: 0;
		bottom: 0;
		background: #fff;
		display: inline-block;
		width: auto;
		border: 1px solid #cfcfcf;
		border-radius: 5px;
		padding: 5px 10px;
	}

	.carousel-indicators-wrapper .carousel-indicators li {
		background: #d2d2d2;
		width: 10px;
		height: 10px;
		margin: 0 7px;
	}

	.carousel-indicators-wrapper .carousel-indicators li.active {
		background: #a3a3a3;
	}

/* Header Style End */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.menu-top .navbar-nav { float: none !important }
	.menu-top .navbar-default .navbar-nav > li > a.btn-red { margin-left: 10px }

}

@media only screen and (max-width : 1180px) {

	.menu-carousel .carousel-caption {
		left: 20%;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.menu-carousel .carousel-caption {
		left: 20%;
	}

	.menu-carousel .carousel-caption h1 {
		font-size: 38px;
		font-weight: bold;
	}

	.menu-carousel .carousel-caption h3 {
		font-size: 20px;
		margin-bottom: 40px;
	}

	.menu-carousel .carousel-caption .btn-red {
		padding: 15px 20px;
		border-radius: 7px;
		color: #fff;
		text-decoration: none;
		font-size: 16px;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.menu-top .navbar-default .navbar-nav > li > a:hover {
		background: #ededed;
		text-decoration: none;
	}

	.menu-top .navbar { padding: 0 }

	.menu-top .container,
	.menu-top .navbar-collapse {
		padding-left: 15px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {



}
